.results-home {
    padding: 24px 24px 24px 18px;
    border-left: 6px solid var(--text-tertiary-01-default);
    background-color: var(--primary-01-default);
    border-radius: 2px;

    @media (max-width: 991px) {
        margin-bottom: 32px;
    }

    >h3 {
        padding-top: 0px;
        margin-bottom: 8px;
    }

    >h4 {
        padding-top: 0;
        color: var(--secondary-01-default);
        font-weight: 500;
    }

    .list-downloads-results {
        display: flex;
        flex-direction: column;

        >a {
            display: block;
            padding: 8px 0;
            font-size: rem(14);
            text-decoration: none;
            color: var(--text-white);
            border-bottom: 1px solid var(--text-primary-01-var-1);
        }
    }
}

.section-banner {
    padding: 0px;

    img {
        width: 100%;
        object-fit: cover;

        @media (max-width: 767px) {
            height: 400px;
        }

        @media (max-width: 475px) {
            height: 300px;
        }
    }
}

.header-section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    margin-bottom: 40px;

    p {
        color: var(--gray);
    }

    &::before {
        content: "-------------------";
        color: var(--gray-200);
        display: block;
        border: none !important;
        background: none;

        @media (max-width: 767px) {
            content: none;
        }
    }

    &::after {
        content: "-------------------";
        color: var(--gray-200);
        display: block;
        border: none !important;
        background: none;

        @media (max-width: 767px) {
            content: none;
        }
    }
}

.grid-picture-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-bottom: 30px;

    @media (max-width: 900px) {
        grid-template-columns: 1fr;

        .left-side-border {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        &.inverted {}
    }


}

.list-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    @media (max-width: 475px) {
        gap: 32px;
    }

    &.two-products {
        grid-template-columns: 1fr 1fr;

        @media (max-width: 475px) {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 900px) {
        grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 475px) {
        grid-template-columns: 1fr;
    }

    .item-product {
        a {
            text-decoration: none;
        }

        .image-product-item {
            position: relative;

            >img {
                width: 100%;
                object-fit: cover;

                @media (max-width: 900px) {
                    height: 350px;
                }
            }

            .list-options-item-product {
                position: absolute;
                z-index: 2;
                bottom: 0;
                right: 0;
                margin-bottom: 32px;
                margin-right: 16px;
                opacity: 0;
                transition: .3s ease-in-out;

                @media (max-width: 991px) {
                    opacity: 1;
                }

                >li {
                    margin-bottom: 12px;

                    button {
                        background: none;
                        outline: none;
                        border: none;
                        padding: 10px;
                        border-radius: 50%;
                        background-color: var(--white);
                        cursor: pointer;
                        transition: .3s ease-in-out;

                        img {
                            max-width: 18px;
                        }

                        &:hover {
                            background-color: var(--orange);

                            img {
                                filter: brightness(100);
                            }
                        }
                    }
                }
            }
        }

        .info-item-product {
            padding: 6px 20px;

            display: flex;
            flex-direction: column;
            align-items: center;

            justify-content: center;

            p {
                text-align: center;
                color: var(--gray);
            }

            img {
                margin: 16px auto 12px;
            }

            .product-price {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 16px;

                strong {
                    font-weight: 400;
                }

                span {
                    color: var(--gray);
                    font-size: rem(14);
                    text-decoration: line-through;
                }
            }

            .button-product-item {
                margin-top: 16px;
                transition: .3s ease-in-out !important;
                opacity: 0;

                @media (max-width: 991px) {
                    opacity: 1;
                }
            }
        }

        &:hover {
            .button-product-item {
                opacity: 1;
            }

            .list-options-item-product {
                opacity: 1;

            }
        }

    }
}

.bg-gray {
    background-color: var(--gray-100);
}

.grid-banners {
    display: grid;
    gap: 12px;

    &.two-banners {
        grid-template-columns: 1fr 1fr;
    }
}