.accordion{
    margin: 24px 0 32px;

    .accordion-item{
        border: none;
        border-radius: 0px;
    }

    .accordion-header{
        line-height: normal;

        button{
            padding: 24px 36px 24px 0px;
            font-size: rem(20);
            color: var(--text-black);
            background-color: var(--pure-white);
            border: none;
            font-family: var(--font-text-2);
            box-shadow: none;
            font-weight: 400;
            flex-wrap: wrap;
            border-radius: 0px !important;
            transition: .3s ease-in-out;
            border-bottom: 1px solid var(--text-grey-scale-02);


            p{
                font-size: rem(20);
                color: var(--text-black);

                small{
                    margin-top: 6px;
                    display: block;
                }
            }


            span{
                display: block;
                color: var(--text-black);
                font-size: rem(20);
                flex: 100%;
                margin-top: 4px;
            }

            &::after{
                content: "";
                height: 24px;
                width: 24px;
                background: url("../images/icons/icon-plus.svg") no-repeat center;
                background-size: cover;
                font-family: var(--font-icomoon);
                position: absolute;
                right: 0px;
                font-size: rem(20);
                color: var(--text-white);
                transition: .3s ease;
                font-weight: 400;
                display: block;
            }

            &:not(.collapsed){
                &::after{
                    filter: brightness(100);
                    transform: rotate(45deg);
                    right: 16px;
                }
                font-weight: 700;
                background-color: var(--primary-01-default);
                padding: 24px 36px 24px 16px;
                color: var(--text-white);

                p{
                    color: var(--text-white);
    
                    small{
                        color: var(--text-white);
                    }
                }
            }

            &.collapsed:hover{
                border-bottom: 1px solid var(--text-black);
                padding: 24px 36px 24px 16px;

                &::after{
                    right: 16px;
                }
            }
            
        }
    }

    .accordion-collapse{
        border: none;
        box-shadow: none;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        
        .accordion-body{
            padding: 24px 16px 24px 16px;

            .list-downloads{
                margin-top: -24px;
                margin-bottom: -24px;
            }

            p{
                color: var(--text-color);
            }
        }

    }

}