.acessibillity-bar {
	padding-top: 12px;
	padding-bottom: 12px;

	background-color: var(--orange);
	transition: .3s;

	position: relative;

	@media (max-width: 1200px) {
		display: none;
	}

	.content {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;

		>div {
			display: flex;
			align-items: center;

			p {
				font-size: rem(12);
				color: var(--white);
			}

			&:not(:last-child) {
				&::after {
					content: "";
					display: block;
					height: 16px;
					width: 1px;
					background-color: var(--white);
					margin: 0 auto;
				}
			}
		}
	}



}

.cart {
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: flex-end;
	display: none;
	z-index: 100;

	&.show {
		display: flex;
	}

}

.cart-side {
	background-color: var(--white);
	z-index: 50;
	max-width: 400px;
	width: 100%;
	height: 100%;
	transition: .3s;
	transform: translateX(100%);
	position: relative;

	&.active {
		transform: translateX(0%);
	}


	.content-cart {
		padding: 18px 12px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.header-cart {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 16px;
		padding-left: 4px;
		padding-right: 4px;
		border-bottom: 1px solid var(--black);

		h3 {
			padding-top: 0px;
			margin-bottom: 0px;
		}

		button {
			width: 25px;
			height: 25px;
			background: none;
			border: none;
			cursor: pointer;
		}
	}

	.list-cart {
		padding: 14px 0;
		overflow-y: auto;
		margin: 22px 0px;

		.item-cart {
			display: flex;
			gap: 10px;

			margin-bottom: 16px;

			>img {
				width: 90px;
				height: 110px;
				object-fit: cover;
				flex-shrink: 0;
			}

			.flex-info {
				display: flex;
				align-items: flex-end;
				gap: 16px;
				flex: 1;
			}

			.info-procuct-cart {
				flex: 1;

				h4 {
					padding-top: 0;
					margin-bottom: 8px;
					font-size: rem(14);
				}

				.attributes-product-cart {

					.flex-attribute {
						display: flex;
						align-items: center;
						gap: 4px;
						color: var(--gray-200);
					}
				}

				.div-holding-price {
					display: flex;
					align-items: center;
					gap: 8px;
					margin-top: 12px;

					.price-product-cart {
						font-size: rem(14);
						font-weight: 700;
						display: block;
					}

					.total-price-product-cart {
						font-size: rem(14);
						color: var(--gray-200);
						text-decoration: line-through;
					}

				}


			}

			.button-option {
				.button-remove {
					width: 25px;
					height: 25px;
					border: none;
					background-color: var(--red);
					border-radius: 4px;
					padding: 2px;
					cursor: pointer;

					img {
						filter: brightness(0) invert(100%) sepia(7%) saturate(26%) hue-rotate(224deg) brightness(105%) contrast(107%);
					}
				}
			}
		}
	}

	.footer-cart {
		margin-top: auto;

		h3 {
			font-size: rem(20);
			text-align: center;
			margin-bottom: 25px;
			padding-top: 0;
		}

		.options-footer-cart {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 24px;
			border-top: 1px solid var(--black);

			.continue-shopping {
				padding: 12px 16px;
				font-weight: 500;
				text-decoration: none;
				color: var(--gray-200);
				transition: .3s;

				&:hover {
					color: var(--gray);
				}
			}
		}
	}
}

.product {
	&.model {
		display: none;
	}
}

.section-newsletter {
	position: fixed;
	height: 100vh;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 200;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 24px;
	padding-right: 24px;

	&.hide {
		display: none;
	}

	.newsletter {
		background: url('../images/newsletter/newsletter.png') no-repeat center;
		background-size: cover;

		display: grid;
		grid-template-columns: 1fr 1fr;
		max-width: 900px;
		width: 100%;
		padding: 25px;

		@media (max-width: 767px) {
			grid-template-columns: 1fr;
		}

		.right-side-newsletter {
			grid-area: 2/2;

			.header-newsletter {
				display: flex;
				justify-content: flex-end;

				button {
					border: none;
					background: none;
					height: 25px;
					width: 25px;
				}
			}

			.content-newletter {
				margin-top: 64px;

				h2 {
					font-size: rem(25);
					text-align: center;

					@media (max-width: 767px) {
						color: var(--white);
					}
				}

				p {
					font-size: rem(20);
					text-align: center;
					margin-top: 48px;

					@media (max-width: 767px) {
						color: var(--white);
					}
				}

				.input-newsletter {
					display: flex;
					align-items: center;
					background-color: var(--white);
					padding: 8px;
					margin-top: 64px;
					margin-bottom: 24px;

					@media (max-width: 475px) {
						flex-direction: column;
						align-items: flex-start;
					}

					input {
						flex: 1;
						font-size: rem(14);
						padding: 8px 12px;
						border: none;
						outline: none;
						width: 100%;

						@media (max-width: 475px) {
							margin-bottom: 4px;
						}

						&::placeholder {
							color: var(--gray-200);
						}
					}

					button {
						background-color: var(--black);
						padding: 12px 14px;
						font-weight: 500;
						font-size: rem(14);
						color: var(--white);
						border: none;
					}
				}
			}
		}
	}
}