.primary-button,
.secondary-button,
.tertiary-button {
	box-shadow: none;

	border: 1px solid;
	border-radius: 4px;

	padding: 12px 32px;

	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 100%;

	font-size: rem(13);
	font-weight: 400;
	text-transform: uppercase;

	font-family: var(--font-text-2);

	text-decoration: none;

	transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out !important;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1) !important;

}

.primary-button {
	border-color: var(--red);
	color: var(--white) !important;
	background-color: var(--red);
	border-radius: 40px;

	&:hover {
		border-color: var(--orange);
		color: var(--white) !important;
		background-color: var(--orange);
	}

	&:focus {
		border-color: var(--yellow);
		color: var(--white) !important;
		background-color: var(--yellow);
	}
}

.secondary-button {
	border-color: var(--yellow);
	color: var(--white) !important;
	background-color: var(--yellow);
	border-radius: 0px;
	padding: 8px 16px;

	&:hover {
		border-color: var(--orange);
		color: var(--white) !important;
		background-color: var(--orange);
	}

	&:focus {
		border-color: var(--red);
		color: var(--white) !important;
		background-color: var(--red);
	}

}


.tertiary-button {
	border-color: var(--green);
	color: var(--white) !important;
	background-color: var(--green);

	&:hover {
		border-color: var(--orange);
		color: var(--white) !important;
		background-color: var(--orange);
	}

	&:focus {
		border-color: var(--yellow);
		color: var(--white) !important;
		background-color: var(--yellow);
	}

}