.footer {
    padding: 42px 0 25px;

    .footer-top {
        display: flex;
        justify-content: center;
    }

    .middle-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        max-width: 700px;
        margin: 0 auto;
        margin-top: 48px;
        margin-bottom: 28px;

        padding-bottom: 28px;
        padding-left: 32px;
        padding-right: 32px;

        border-bottom: 1px solid var(--gray-100);

        @media (max-width: 575px) {
            grid-template-columns: 1fr;
        }

        .block-list {
            &:last-child {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            strong {
                text-transform: uppercase;
                margin-bottom: 12px;
                display: block;

                @media (max-width: 575px) {
                    text-align: center;
                }
            }

            ul {
                margin-bottom: 0;

                @media (max-width: 575px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                li {
                    a {
                        text-decoration: none;


                    }
                }
            }
        }
    }

    .bottom-footer {
        img {
            margin: 0 auto;
        }
    }

}