.header {
    background-color: var(--white);
    transition: .3s;

    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px 0;

        @media (max-width: 1200px) {
            gap: 24px;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 24px 0;
            row-gap: 16px;
        }

        .logo-header {
            display: block;

            @media (max-width: 575px) {
                max-width: 160px;
            }
        }

        .nav-menu-header {
            flex: 1;
            margin-right: 24px;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;

            @media (max-width: 1200px) {
                margin-right: 12px;
                display: none;
            }

            >ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 24px;
                margin-bottom: 0px;

                .list-menu {
                    margin-bottom: 0;
                    position: relative;

                    span {
                        display: flex;
                        align-items: center;
                        padding: 6px 12px 6px 12px;
                        cursor: pointer;

                        &::after {
                            content: ">";
                            transform: rotate(90deg);
                            display: flex;
                            margin-left: 12px;
                            transition: .3s;
                        }
                    }

                    .dropdown-menu {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 0;
                        display: none;
                        transform: translateY(100%);
                        background-color: var(--white);
                        box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.1);

                        li {
                            margin-bottom: 0;

                            a {
                                padding: 6px 12px;
                                display: block;
                                text-decoration: none;
                                transition: .3s ease-in;
                                font-size: rem(14);

                                &:hover {
                                    background-color: var(--orange);
                                    color: var(--white);
                                }
                            }
                        }
                    }

                    &:hover {
                        span {
                            &::after {
                                transform: rotate(270deg);
                            }
                        }

                        .dropdown-menu {
                            display: block !important;
                        }
                    }
                }
            }
        }

        .header-right-side {
            display: flex;
            align-items: center;
            gap: 24px;

            @media (max-width: 1200px) {
                gap: 12px;
            }

            button {
                background-color: transparent;
                border: none;
                padding: 6px;
                cursor: pointer;
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;
            }

            .number-items-cart {
                position: absolute;
                top: -8px;
                right: -10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 25px;
                width: 25px;
                color: var(--white);
                font-size: rem(12);
                background-color: var(--red);
                border-radius: 50%;
                display: none;
            }

            .open-searchbox {
                i {
                    &::before {
                        font-size: rem(20);
                    }
                }

                @media (max-width: 767px) {
                    display: none;
                }
            }
        }
    }
}

.toggle-mobile-menu {
    border: none;
    position: relative;
    margin-left: 0px;
    padding: 0;

    background-color: transparent;

    display: none !important;

    @media (max-width: 1200px) {
        display: flex !important;
    }

    span {
        height: 2px;
        width: 21px;
        display: block;
        background: var(--black);
        transition: 0.5s ease;
        position: relative;
        border-radius: 2px;

        &::after,
        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 21px;
            border-radius: 2px;
            display: block;
            position: absolute;
            background: var(--black);
            transition: 0.5s ease;
        }

        &::before {
            top: -7px;
        }

        &::after {
            bottom: -7px;
        }
    }
}