body {
	&.open-menu {
		&::after {
			content: "";
			display: block;
			background-color: rgba(0, 0, 0, 0.65);
			height: 100%;
			width: 100%;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 101;
		}
	}
}

.mobile-menu-div {
	position: fixed;
	z-index: 1000;
	width: 100%;
	max-width: 600px;
	transition: .6s;
	height: 100%;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	background-color: var(--white);

	@media (max-width: 1200px) {
		background-color: var(--white);
		transform: translateX(100%);
	}

	@media (max-width: 767px) {
		max-width: 500px;
	}

	@media (max-width: 475px) {
		max-width: 90%;
	}

	@media (max-width: 375px) {
		max-width: 100%;
	}

	.menu-body {
		display: flex;

		padding-right: 48px;
		padding-left: 48px;
		margin-top: 32px;

		@media (max-width: 575px) {
			padding-right: 24px;
			padding-left: 24px;
		}
	}

	.container {
		padding: 0;

	}

	&.active {
		transform: translateY(0);

		@media (max-width: 1200px) {
			transform: translateX(0%);
		}

		.mobile-menu {
			right: 0;

			.toggle-mobile-menu {
				span {
					transform: rotate(45deg);
					background: var(--black);
					border-radius: 2px;

					&::before {
						top: 0;
						background: var(--black);
						transform: rotate(90deg);
						border-radius: 2px;
					}

					&::after {
						bottom: 0;
						background: var(--black);
						transform: rotate(90deg);
						border-radius: 2px;
					}
				}
			}
		}
	}
}



.mobile-menu {
	top: 0px;
	right: 0;
	bottom: 0;
	margin-left: auto;
	position: relative;
	padding: 0 0 0;
	width: 100%;
	z-index: 200;
	height: 100vh;
	overflow-y: scroll;
	transition: transform 0.4s linear;

	&.active {
		transform: translateX(0);
	}


	.header-menu {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		justify-content: space-between;

		padding-right: 48px;
		padding-left: 48px;
		background-color: var(--primary-01-default);

		padding-top: 24px;
		padding-bottom: 24px;

		flex-wrap: wrap;

		@media (max-width: 575px) {
			padding-right: 24px;
			padding-left: 24px;
		}

		.logo-header {
			flex-shrink: 0;
			text-decoration: none;

			display: flex;
			align-items: center;

			img {
				max-width: 160px;
			}

		}

		.toggle-mobile-menu {
			margin-left: 0;
		}

		.div-menu-open {
			display: flex;
			align-items: center;

			p {
				color: var(--text-white);

				@media (max-width: 767px) {
					display: none;
				}
			}
		}
	}

	.middle-header {
		display: block;

		padding-right: 48px;
		padding-left: 48px;


		@media (max-width: 575px) {
			padding-right: 24px;
			padding-left: 24px;
		}

	}


	.menu-tools {
		display: block;
		margin-top: 16px;

		.div-pesquisar-mobile {
			display: flex;
			gap: 8px;
			padding: 12px 8px;
			border: none;
			border-radius: 6px;
			box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.16);

			button {
				margin: 0;
				background: none;
				border: none;
				display: flex;
				align-items: center;
				max-width: 20px;
			}

			input {
				border: none;
				outline: none;
				font-size: rem(16);
				width: 100%;
				background: none;
				font-family: var(--font-text-2);
				color: var(--text-primary-01-default);

				&::placeholder {
					color: var(--text-primary-01-default);

				}
			}
		}

		>p {
			font-size: rem(12);
			color: var(--text-grey-scale-06);
			margin-top: 8px;
		}
	}

	.nav-menu-mobile {
		flex: 1;
		margin-right: 24px;


		>ul {
			display: flex;
			flex-direction: column;
			gap: 6px;
			margin-bottom: 0px;

			.list-menu {
				margin-bottom: 0;
				position: relative;

				span {
					display: flex;
					align-items: center;
					padding: 6px 12px 6px 0px;
					cursor: pointer;
					font-size: rem(20);

					&::after {
						content: ">";
						transform: rotate(90deg);
						display: flex;
						margin-left: 12px;
						transition: .3s;
					}
				}

				.dropdown-menu {
					margin-bottom: 0;
					display: none;
					background-color: var(--white);

					li {
						margin-bottom: 0;

						a {
							padding: 6px 12px;
							display: block;
							text-decoration: none;
							transition: .3s ease-in;
							font-size: rem(16);

							&:hover {
								background-color: var(--orange);
								color: var(--white);
							}
						}
					}
				}

				&.active {
					span {
						&::after {
							transform: rotate(270deg);
						}
					}

					.dropdown-menu {
						display: block !important;
					}
				}
			}
		}
	}
}