.button-storys-open{
    background: linear-gradient(#fff, #fff) content-box,
    linear-gradient(to bottom right, #43FF00 0%, #43FF00 33%, #1E51F5 66%, #C46AFF 100%) border-box;
    border: 1px solid transparent !important;
    border-radius: 50px;

    button{
        display: flex;
        align-items: center;
        gap: 4px;

        padding: 4px 4px 4px 8px !important;
        border: none;
        background-color: transparent;
        border-radius: 50px;
        transition: .2s ease-in-out;

        &:hover{
            background-color: var(--tertiary-01-default) !important;
        }

        .text-stories{
            font-weight: 700;
            font-size: rem(10);
            font-family: var(--font-text-3);
            margin-right: 4px;
        }
    
        .icon-button-stories{
            border-radius: 50%;
            border: 1px solid transparent;
            background: linear-gradient(white, white) padding-box, 
                        linear-gradient(to bottom right, #43FF00 0%, #43FF00 33%, #1E51F5 66%, #C46AFF 100%) border-box;

            i{
                display: flex;
                justify-content: center;
                align-items: center;
    
                padding: 0px;
                border-radius: 50%;
    
                height: 23px;
                width: 23px;
                background-color: var(--tertiary-01-default);
                border: 1px solid var(--text-white);
        
    
                &:before{
                    font-size: rem(13);
                }
            }
        }
    }

    &.not-text{
        button{
            padding: 2px !important;
            .text-stories{
                display: none;
            }

            .icon-button-stories{
                border: none;
                background: transparent;

                i{
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }
}