:root {
	--white: #fff;
	--orange: #eda569;
	--yellow: #fcbd24;
	--green: #21BA45;
	--red: #ef6b00;
	--gray: #777777;
	--black: #1a1a1a;
	--gray-100: #F7F3F0;
	--gray-200: #C7C7C7;
	--font-1: 'Rubik', Arial;
}